.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 2em;
    background-color: #CC0000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-sizing: border-box;
  }
  
  .title {
    color: white;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .menuItems {
    display: flex;
    align-items: center; /* Align items horizontally */
    gap: 30px;
    list-style: none;
    padding-right: 20px;
  }
  
  .menuItems li {
    text-align: right;
  }
  
  .menuItems a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  
  .menuItems a:hover {
    text-decoration: underline;
  }
  
  .profileImage {
    width: 40px; /* Adjust size of the profile picture */
    height: 40px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image fills the circle */
    cursor: pointer; /* Makes it appear clickable */
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1em 1em;
    }
  
    .menuItems {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
  
    .menuItems li {
      margin-bottom: 10px;
    }
  
    .menuItems a {
      font-size: 18px;
    }
  }
  